.image{
    position:relative;
    height: 300px;
    width: 350px;
    top:15%;
    left:58%;
    border-radius:50%;
  }
  .float{
    display:inline-flex;
    flex-direction:column;
  }
  .pro{
    position:absolute;
    margin-left: 700px;
    padding-bottom: 180px;
  }
  .container_1{
    padding-top: 80px;
    padding-left:130px;
    width: 50%;
  }
  .container_2{
    width:auto;

  }
  .hyper{
    height:60px;
    width:100px;
  }
  .row_1{
    position:absolute;
    right:5%;
    left:35%;
    width:auto;
    padding-top:80px;
    padding-left:70px;
  }
  .img{
    height:400px;
    width:400px;
    margin-left:100px;
    margin: right 50px;

  }
  .para{
    position:absolute;
    left:45%;
    right:10%;
    top:40%;
    display: flex;
    text-align: justify;
  }
  .info{  
    position:absolute;
    left:45%;
    top:30%;
    display: flex;
  }
  .container_3{
    width:auto;
  }
  .text-container{
    width:auto;
  }
  *{
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
  }
  .h-font{
    font-family: "Merienda", cursive;
    font-weight: 400;
    font-style: normal; 
  }
  :root{
    --teal: #2ec1ac;
    --teal_hover: #279e8c;
  }
  .view{
    background-color: var(--teal) !important;
  }
  .view:hover{
    background-color: var(--teal_hover) !important;
  }

  body{
    overflow-x: hidden;
  }